@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --base-50: 220 27.3% 97.8%;
    --base-100: 220 14.3% 95.9%;
    --base-200: 210 8.3% 90.6%;
    --base-300: 216 6% 83.7%;
    --base-400: 228 2.7% 63.3%;
    --base-500: 216 2.2% 44.9%;
    --base-600: 216 3% 33.1%;
    --base-700: 225 3.1% 25.5%;
    --base-800: 220 3.7% 15.9%;
    --base-900: 220 6.1% 9.6%;
    --base-950: 210 12.5% 3.1%;
    --base-1000: 0 0% 0.8%;

    --primary-50: 277 66.7% 97.6%;
    --primary-100: 273 69.2% 94.9%;
    --primary-200: 275 70.8% 90.6%;
    --primary-300: 275 78.3% 83.7%;
    --primary-400: 276 85.7% 75.3%;
    --primary-500: 276 76.1% 63.9%;
    --primary-600: 276 65.2% 54.9%;
    --primary-700: 277 55.9% 46.3%;
    --primary-800: 278 52.8% 38.2%;
    --primary-900: 279 49.7% 31.2%;
    --primary-950: 277 60% 20.6%;
    --primary-1000: 277 79.1% 13.1%;

    --secondary-50: 280 42.9% 97.3%;
    --secondary-100: 279 50% 94.5%;
    --secondary-200: 278 57.7% 89.8%;
    --secondary-300: 281 60% 82.4%;
    --secondary-400: 281 61.4% 71.6%;
    --secondary-500: 281 59.8% 62.9%;
    --secondary-600: 281 48.9% 53.9%;
    --secondary-700: 281 43.5% 45.1%;
    --secondary-800: 283 39.3% 39.4%;
    --secondary-900: 284 38.5% 30.6%;
    --secondary-950: 282 46.5% 19.8%;
    --secondary-1000: 283 59.4% 12.5%;

    --background: var(--base-50);
    --foreground: var(--base-800);
    --card: 0 0% 100%;
    --card-foreground: var(--base-800);
    --popover: 0 0% 100%;
    --popover-foreground: var(--base-800);
    --primary: var(--primary-400);
    --primary-foreground: 0 0% 0%;
    --secondary: var(--secondary-800);
    --secondary-foreground: 0 0% 100%;
    --muted: var(--base-100);
    --muted-foreground: var(--base-600);
    --accent: var(--base-100);
    --accent-foreground: var(--base-800);
    --destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
    --border: var(--base-200);
    --input: var(--base-300);
    --ring: var(--primary-400);
    --chart-1: var(--primary-400);
    --chart-2: var(--secondary-800);
    --chart-3: var(--primary-300);
    --chart-4: var(--secondary-300);
    --chart-5: var(--primary-100);
    --radius: 1rem;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: var(--base-800);
    --sidebar-primary: var(--primary-400);
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: var(--base-50);
    --sidebar-accent-foreground: var(--base-800);
    --sidebar-border: var(--base-200);
    --sidebar-ring: var(--primary-400);
  }

  .dark {
    --background: var(--base-950);
    --foreground: var(--base-200);
    --card: var(--base-900);
    --card-foreground: var(--base-200);
    --popover: var(--base-900);
    --popover-foreground: var(--base-200);
    --primary: var(--primary-400);
    --primary-foreground: 0 0% 0%;
    --secondary: var(--secondary-800);
    --secondary-foreground: 0 0% 100%;
    --muted: var(--base-800);
    --muted-foreground: var(--base-300);
    --accent: var(--base-800);
    --accent-foreground: var(--base-200);
    --destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
    --border: var(--base-800);
    --input: var(--base-700);
    --ring: var(--primary-400);
    --chart-1: var(--primary-400);
    --chart-2: var(--secondary-800);
    --chart-3: var(--primary-300);
    --chart-4: var(--secondary-300);
    --chart-5: var(--primary-100);
    --sidebar: var(--base-900);
    --sidebar-foreground: var(--base-200);
    --sidebar-primary: var(--primary-400);
    --sidebar-primary-foreground: 0 0% 0%;
    --sidebar-accent: var(--base-800);
    --sidebar-accent-foreground: var(--base-200);
    --sidebar-border: var(--base-800);
    --sidebar-ring: var(--primary-400);
  }

  

  .rounded-custom {
    @apply rounded-2xl;
  }
}


